body {
    height: 100vh;
}

.header {
    padding-top: 5px;
    text-align: center;
    background: rgb(32, 11, 11);
    color: yellow;
    height: 120px;
    font: Georgia, serif;
    font-size: 1.0rem;
    border-bottom: 2px solid white;
    
}

.main-container {
    margin-left: 0;
    margin-right: 0;
}

.log {
    color: whitesmoke;
    padding-right: 5px;
    background: rgb(32, 11, 11);
    text-align: center;
    float: right;

}

.log > h4 {
    font-size: 1.0rem;
}

.login-info {
    float: right;
    color: whitesmoke;
    text-align: right;
    margin-right: 15px;
}

.catch {
    text-align: center;
}
.scale {
    margin-top: 15px;
    margin-left: 5px;
    padding-top: 12px;
    height: 60px;
    text-align: center;
    border: 5px solid #CCCCCC;
    background-color: rgba(189, 164, 209, 0.3);
    border-radius: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, serif;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.scale:hover {
    background-color: rgba(205, 191, 218, 0.5);
}

.questions {
    text-align: left;
    margin-top: 20px;
    color: white;
    background-color: rgba(26, 21, 21, 0.9);
}

#bg {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.initial {
    background-image: url('../img/electric.jpg');
}

.universe {
    background-image: url('../img/galaxy.jpg');
}

.astro {
    background-image: url('../img/supernova.jpg');
}

.planet {
    background-image: url('../img/kinetic.jpg');
}

.quantum {
    background-image: url('../img/molecule.jpg');
}

table {
    width: 100%;
    padding: 10px;
}

.new {
    background-color: darkgray;
}

.details-container {
    display: flex;
    justify-content: space-between;
    font-style: italic;

}

.new-unhide {
    margin: 5px;
    border-color: #CCCCCC;
    float: right;
}

.question-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    background-color: rgba(205, 191, 218, 0.9);
}

.modal {
    background-color:rgba(205, 191, 218, 0.9);
    width: 100%;
    color: black
}

.new-hide {
    display: none;
}

#newQuestionText, #newAnswerText {
    width: 75%;
    height: 200px;
    margin-top: 10px;
}

.view-question, .view-answer {
    border-bottom: 2px solid #CCCCCC;
}

.qtext {
    font-style: italic;
    color: black;
}

.quser, .qdate {
    color: rgb(148, 151, 153);
    font-style: italic;
    text-align: right;
}

.qn-text {
    margin-left: 20px;
}

.question-details {
    color: rgb(114, 124, 216);
    text-decoration: underline;
}
.subheader {
    border-bottom: 2px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: red;
}

@media screen and (min-width: 900px) {
    .log {
        text-align: right;
    }
}