.header {
    display: flex;
    justify-content: space-between;
    background: lightcoral;
}

.universe {
    background-color: aqua;
    height: 60px;
    text-align: center;
}

.astro {
    background-color: lightgreen;
    height: 60px;
    text-align: center;
}

.planet {
    background-color: lightslategray;
    height: 60px;
    text-align: center;
}

.quantum {
    background-color: yellow;
    height: 60px;
    text-align: center;
}