{% extends 'base.html' %}

{% load static %}

{% block nav %}
    <div class = "catch">
        <h1>Physics Forum</h1>
        <i>THE place to get answers to your physics questions!</i>
    </div>
    {% if request.user.is_authenticated %}
        <div class = "log">
            <h4>You are logged in as
                {% if request.user.first_name %}
                    {{ request.user.first_name }}
                {% else %}
                    {{ request.user.username }}
                {% endif %}
                <a href = "{% url 'auth_logout' %}">Log Out</a>
            </h4>
        </div>
    {% else %}
        <div class = "log">
            <h4>
                You are not logged in, click to <a href = "{% url 'auth_login' %}">Log In</a>
            </h4>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id = 'root'></div>
{% endblock %}